<div>
  <h1>Add</h1>
  <form action="/" method="post">
    <label for="name-field">Name:</label>
    <input type="text" name="name" id="name-field">
    <label for="type-select">Type:</label>
    <select name="type" id="type-select">
      <option value="coffee shop">Coffee Shop</option>
      <option value="bookstore">Bookstore</option>
    </select>
    <label for="longitude-field">Longitude:</label>
    <input type="text" name="longitude" id="longitude-field">
    <label for="latitude-field">Latitude:</label>
    <input type="text" name="latitude" id="latitude-field">
    <button type="submit">Add</button>
  </form>
</div>